a{
    color: #000;
  }
  a:link{
    text-decoration: none;
  }
  a:hover {
    color: #E5BA73 !important;
    cursor: pointer;
  }
  body{
    background-color: #C58940;
  }
  #def{
    text-align: center;
    align-items: center;
  }
  #down{
    text-align: center;
    align-items: center;
  }
  h1 {
    font-family: 'Alkatra', cursive;
    font-size: 5em;
    color: #E5BA73;

  }
  *{
    font-family: 'Roboto', sans-serif;
  }
  h2{
    font-family: 'Alkatra', cursive;
    font-size: 5em;
    text-align: center;
  }