a{
    color: #000;
  }
  a:link{
    text-decoration: none;
  }
  a:hover {
    color: #DFA67B !important;
    cursor: pointer;
  }
  body{
    background-color: #DFA67B;
  }
  #def{
    text-align: center;
    align-items: center;
  }
  #down{
    text-align: center;
    align-items: center;
  }
  h1 {
    font-family: 'Alkatra', cursive;
  }
  *{
    font-family: 'Roboto', sans-serif;
  }